venvtorchcuda/
venvtorchrocm/
venvtorchcpu/
venvjaxcuda/
venvjaxtpu/
venvjaxcpu/
__pycache__/
*.py[cod]
*$py.class
*.so
wandb/
lightning_logs/
.DS_Store
deepspeed_configs/
.idea/
outputs/
dataset/finetune/