# Add CUDA index while keeping PyPI accessible
--extra-index-url https://download.pytorch.org/whl/cu124

# Install PyTorch packages first to ensure CUDA versions
torch
# torchvision
# torchaudio

# Install the rest from PyPI
transformers
sentencepiece
datasets
accelerate==1.0.1  # to prevent AttributeError: 'AdamW' object has no attribute 'optim_bits' with paged_adamw-8bit
bitsandbytes
-r requirements_common.txt 